name: Code Check

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    name: Build And Test Go code
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      # https://stackoverflow.com/questions/76269119/github-actions-go-lambda-project-different-sha256sums
      - name: Build
        run: go build -v -buildvcs=false ./...

      - name: Test
        run: go test -p 1 -v -shuffle=on ./...

      - name: Linter
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
        env:
          GOFLAGS: "-buildvcs=false"
